*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
:root{
    --primary: #fbc257;
    --primary-light:#fccc73;
    --dark-brown: #341413;
    --gray-1:#798092;
    --gray-2: #E6E6ED;
    --white: #ffffff;
    --green:#56A13D;
    --seaG:#2E8B57;



    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    

    /* Font size desktop */
/* --header-1:64px; */
--header-1:50px;
--header-2:48px;
--header-3:42px;
--header-4:32px;

--text-medium:18px;
--text-regular:16px;
--text-light:13px;

/* Font-weight */
--font-weight-bold:700;
--font-weight-semi-bold:600;
--font-weight-medium:500;
--font-weight-regular:400;
--font-weight-light:300;
--weight1: 200;
}




#Mission{
    margin: 25px auto 58px auto;
    width: 50%;
    /* padding: 34px 66px; */
    text-align: center;
}

#Mission h2{
   
    padding: 29px 11px;
    font-size: 2.7em;
    line-height: 1.1em;
    word-spacing: -2px;
    font-style: oblique;
}
#Mission h2 span{
    color: var(--primary);
font-weight: var(--font-weight-medium);
}

#Mission p{
    font-size: var(--text-medium);
    margin-top: 14px;
}


p{
    color: #505050;
    font-style: normal;
    font-weight: var(--font-weight-regular);


}

#Info p{
    color: #505050;
    
    font-size: var(--text-medium);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    line-height: 23px;
    margin: 0.5em 0;
}

.Info1{
    text-align: center;
}

.Info1 h2
{
    
    font-size: 2.1em;
}


.Info1 p{
    padding: 6px 172px;
}

.F1{
    display: flex;
justify-content: center;
align-items: center;
gap: 2em;
}
.F1T{
    width: 37%;
}
.F1Image{
    width: 86%;
    height: auto;
}




.F1T h4{
    font-size: var(--text-medium);
 color: hsl(212deg 53.14% 38.56%);
}


.R{
    margin-top: 2.1em;
    margin-left: 12px;
}

.R h4{
    color: #282828;
    font-size: 24px;
    font-style: normal;
    font-weight: var(--font-weight-semi-bold);
    line-height: 17px;
}


/* Responsiveness */
@media screen and (max-width:702px)
{
    #Mission{
        margin: 40px 27px;
        width: auto;
        /* width: 50%; */
        /* padding: 34px 66px; */
        text-align: left;
    }
    
    #Mission h2{
        padding: 23px 11px;
        font-size: 2.0em;
        line-height: 1.0em;
        word-spacing: -2px;
        font-style: oblique;
    
    }
    #Info p{
        text-align: left;
        color: #505050;
        /* font-size: 18px; */
        font-size: var(--text-medium);
        font-style: normal;
        font-weight: var(--font-weight-regular);
        line-height: 23px;
        margin: 0.3em 0;
    }
    .Info1 p{
        padding: 12px 26px;
    }
.Info1 h2{
    font-size: 1.9em;
}}

@media screen and (max-width:748px) {
    .F1{
        flex-direction: column-reverse;
    gap: 1em;
    }
    .F1T{
        width: auto;
        padding: 12px 50px;
    }
    .F1Image{
        width: 180px;
        height: auto;
    }
    
    }

    #WP p{
        color: #25D366 !important;
    }