*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

:root{
    --primary: #fbc257;
    --primary-light:#fccc73;
    --dark-brown: #341413;
    --gray-1:#798092;
    --gray-2: #E6E6ED;
    --white: #ffffff;
    --green:#56A13D;
    --seaG:#2E8B57;



    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    
    
    
    




    /* Font size desktop */
/* --header-1:64px; */
--header-1:50px;
--header-2:48px;
--header-3:42px;
--header-4:32px;

--text-medium:18px;
--text-regular:16px;
--text-light:13px;

/* Font-weight */
--font-weight-bold:700;
--font-weight-semi-bold:600;
--font-weight-medium:500;
--font-weight-regular:400;
--font-weight-light:300;
--weight1: 200;
}


.logo{
    width: 127px;
    height: 112px;
}




body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Buttons */

.btn{
    
    padding: 9px 16px;
    border-radius:6px;
    font-size: var(--text-medium);
    font-weight: var(--font-weight-medium);
    border: none;

}

.btn-primary{
    
    background-color: var(--seaG) !important;
    
}
.btn-primary:focus{
    background-color: var(--green) !important;
   
}
.btn-primary:hover{
    background-color: var(--green) !important;    
}





/* Buttons */


/* Navbar */
.navbar-brand img{
    padding-right: 16px;
}


.navbar{
  
    padding: 12px 0;
}

a.nav-link{
    margin-right: 39px;
    font-size: var(--text-regular);
font-weight: var(--font-weight-regular);
color: var(--dark-brown);
}

a.nav-link:hover{
   color: var(--green);
   font-weight: var(--font-weight-semi-bold);
   
   transition:  color 0.3s ease-in 0.1s;
}

a.nav-link:focus{
    color: var(--green);
    font-weight: var(--font-weight-semi-bold);
    
    transition:  color 0.3s ease-in 0.1s;
 }


.illu{
    /*  */
    margin-top: -33px;
/*  */
    width: 100%;
height: auto;
}

/* navbar */


#hero{
   
    margin-top: -8px 0;
}

.text-label,
 .text-hero-bold,
.text-hero-regular{

    margin: 24px 0;

}



.hil{
    color: var(--primary);

}


 .text-hero-bold{
    color: var(--seaG);
    
    font-size: var(--header-1);
    font-weight: var(--font-weight-bold);
   
    line-height: 51px;
    /*  */
    letter-spacing: -1px;
 }

.text-hero-regular{
    color: var(--gray-1);
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
}

/* Media Query */
/* Desktop version only */
@media (min-width:1399.98px)
{
    .container{
        width: 84%;
    }
}

/* Mobile version only */
@media (max-width: 576px){
    .navbar{
        padding: 28px 0;
    }
    a.nav.link{
        margin-right: 7px 0;
    }
/* Hero */
#hero{
    margin: 2rem 0;
    text-align: center;
}
.btn{
    display: block;
    margin: 1rem 0;
}
  .ms-3{
    margin-left: 0 !important;
  }
  .text-label,
  .text-hero-bold,
 .text-hero-regular{
 
text-align: center;
 
 }
 .text-hero-bold{
    font-weight: var(--font-weight-bold);
    font-size: var(--header-3);

    line-height: 50px;
 }
 #hero img{
    margin: 2rem 0;
 }

}


/* Tablet small version only */
@media (max-width:768px){
    /* navbar */
.navbar{
    padding: 28px 0;
}
a.nav-link{
    margin-right: 7px 0;
}
/* Hero */
#hero{
    margin: 1rem 0;
}
.text-hero-bold{
    font-weight: var(--font-weight-bold);
    font-size: var(--header-3);
    
    line-height: 50px;

}
#hero img{
    margin: 2rem 0;
    
}
}

/* tablet medium and large  */
@media (max-width:992px){


        /* navbar */
.navbar{
    padding: 28px 0;
}
a.nav-link{
    margin-right: 7px 0;
}
/* Hero */
#hero{
    margin: 1rem 0;
}
.text-hero-bold{
    font-weight: var(--font-weight-bold);
    font-size: var(--header-3);
    
line-height: 50px;
}
#hero img{
    margin: 2rem 0;
}}

/* Hero Section Ends */




/* Section02 starts */
#Sec-2{
    margin-top: 5em;
   
}
#Sec-2 h2{
    text-align: center;
}

.Sec-2F{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
    max-width: 80%;
    margin: auto;
    padding: 10px;
}

.paras{
    /*  */
    font-size: 1.1em;
    /*  */
    padding: 0px 65px;
    margin-top: 44px;
}

.sec-left{   
    flex-direction: row-reverse;
   }
.imgFluid{
    /* width: 132px;
    height: 148px; */
    margin-top: 2em;
    width: 134px;
    height: 139px;
}


.thumbnail{
    flex: 50%;
}

@media only screen and (max-width: 1075px){
.Sec-2F{
    flex-direction: column-reverse;
}
.paras{
padding: 0px;
flex: 50%;
}  
}






/* Section 3 starts */
#Sec-3{
    /*  */
    margin-top: 5em;
    /*  */
    /* height: 100vh; */
    height: auto;
    width: 100%;
   
    padding: 75px 0;
    background: #ddd;
   
  }
  .pic{
    height: auto;
    width:  302px;
  }
  .about{
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
   
    justify-content: space-between;
  }
  .text{
    
    width: 606px;
    
  }
 
.Tstyle{
    /*  */
    color: var(--seaG);
    /*  */
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}


  .text h5{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  span{
    
    color: hsl(212deg 53.14% 38.56%);
  }
  .text p{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.1px;
    font-family: 'Inter', sans-serif;
  }
  .data{
    margin-top: 30px;
  }

/* Responsiveness */
@media (max-width: 694px) {
.about{
    display: flex;
    flex-direction: column;
    
   row-gap: 3em;
    width: auto; 
    
}    
.about h2, .about h5, .about p{
    text-align: center;
}
.text{
    width: auto;
}

.about .pic{
    width: 200px;
height: auto;
}
}


/* Section 3 ends */







/* Section4 starts */



#Sec-4 {
    margin-top: 5em;
    font-size: 15px;
    
    background-color: var(--veryLightGray);
    
}
#Sec-4 h2{
    
    text-align: center;
}


h1:first-of-type {
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);
    font-family:'Inter', sans-serif ;

}

h1:last-of-type {
    color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}

.box p {
    color: var(--grayishBlue);
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;  
}

img {
    float: right;
}

.sec4I{
    
    
    width:5em;
    height: 5.3em;
    margin-right: -29px;
}

/* perfect */
@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: auto;
    }
}

.cyan {
    border-top: 3px solid var(--cyan);
}
.red {
    border-top: 3px solid var(--red);
}
.blue {
    border-top: 3px solid var(--blue);
}
.orange {
    border-top: 3px solid var(--orange);
}

h2 {
    color: var(--varyDarkBlue);
    /* font-weight: var(--weight2); */
    font-weight: var(--font-weight-regular);
}


@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 22%;
     /* height: 262px; */
     height: 230px;
    }
    }
    @media (min-width: 950px)and (max-width:1170px){
        .box{
            height: 300px;
        }
    }


       /* transform property*/
@media (min-width:1170px){
    .box{
          /*  */
          transition: transform 0.7s;
          /*  */
    }
  
.box:hover{
    transform: scale(1.2,1.2);
}}
/* transform property ends */


/*Section 4 ends  */









/* Footer Section starts */
#Sec-5 {
  background: #151414;
  /* background: blue; */
  position: relative;
  margin-top: 100px;
}

ul {
    margin: 0px;
    padding: 0px;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
    color: var(--seaG);
  /* color: #ff5e14; */
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cont{
    text-decoration: none;
    color:#757575;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
/* align h4 */
/*  */

}
/* align */
.one{
    margin-left: 15px;
}

.second
{
    margin-left: 10px;
}

.third{
    margin-left: 4px;
}
/*  */


.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 100px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 2px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
/*  */
i:hover{
    color: var(--seaG);
}
/*  */

.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  /* background: #ff5e14; */
  background-color: var(--green);
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  /* color: #ff5e14; */
color: var(--seaG);
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
/*  */
.footer-widget ul li a:hover{
text-decoration: underline;
}
/*  */



.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  /* color: #ff5e14; */
  color: var(--primary);
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  /* color: #ff5e14; */
  color: green;
  
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.copyright-text{
    /* margin-top: -12px; */
    /* text-align: center; */
}

.first{
    margin-left: 17px;
    margin-top: -41px;
}
a{
    text-decoration: none;
}
/* Footer Section ends */












/* Utility class */
.heading{
    text-align: center;
    color: #111827;
    /* font-family: 'Inter', sans-serif; */
    font-size: 34px;
    /* font-size: 43px; */
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: -.75px;
    line-height: 36px;
}

h4, p{
    font-family: 'Inter', sans-serif;
}

h4{
    /*  */
    font-weight: 550;
  
    /*  */
    color: hsl(212deg 53.14% 38.56%);
}


    








/* Whatsapp button */


.fa-whatsapp{
   
    /* check */
    color: white;
    /* background-color: #56A13D; */
   /* background-color:  #25D366; */
   color:#25D366 ;
    width: 51px;
    padding: 5px;
    border-radius: 11px;
    /*check  */
   
    
    position: fixed;
    bottom: 40px;
right: 20px;
}






.hide{
    display: none;
}
.show{
    display: block;
}

#WP{
position: fixed;
    bottom: 40px;
    right: 75px;
    /* color: #56A13D; */
    color: #25D366 !important;
    /* background-color: #56A13D; */
    /* color: white; */   
}


.active{
    font-weight: bolder !important;
    color: var(--seaG) !important; 
}



/*  */